#grid-container {
    /* padding-left: 50px; */
    display: inline-grid;
    grid-template-columns: repeat(5, 250px);
    grid-auto-rows: 400px;
    column-gap: 55px;
    row-gap: 50px;
    margin: 0px auto;
    place-self: center;
    position: relative;
}

#grid-item {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: monospace;
    border-radius: 5%;
    border: 1px solid white;
    padding: 5px 30px 5px 30px;
}

#book-title {
    text-align: center;
    font-size: 150%;
}

#sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-left: white solid 1px;
    color: white;
}
#sidefields {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    float:left;
    width: 100%;

}

#submit, #remove {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    font-family: monospace;
    color: white;
    background-color: rgb(20, 20, 20);
}

#remove {
    margin-left: 25%;
    margin-top: 20%;
}

#read {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.credits {
    position: absolute;
    float: right;
    bottom: 8px;
    right: 8px;
    width: auto;
    font-size: 16px;
    text-align: left;
    font-family: monospace;
}

html {
    background-color: rgb(20, 20, 20);
}

h1 {
    font-size: 45px;
    color: white;
    font-family: monospace;
    text-align: center;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 110%;
}

label {
    color: white;
    font-family: monospace;
    padding-bottom: 10px;
}

input {
    width: 50%;
    margin: auto;
    padding: auto;
    border-radius: 5px;
    text-decoration: none;
    height: 40px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: white;
}